<html>
<head>
	<title>Image on map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyx9elvCkXhezr6CoS5FssaborBSyo2xk"></script>
<script>

var overlay;
USGSOverlay.prototype = new google.maps.OverlayView();

// Initialize the map and the custom overlay.
  
  var Xcenter = {{ xce }};
  var Ycenter = {{ yce }};

  var lat1 = {{ yla }};
  var lon1 = {{ xlo }};

  var lat2 = {{ ela }};
  var lon2 = {{ dlo }};

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: {lat: Xcenter, lng: Ycenter},
    mapTypeId: 'satellite'
  });

  var bounds = new google.maps.LatLngBounds(
  	  new google.maps.LatLng(lat1,lon1),
      new google.maps.LatLng(lat2,lon2)
      );

  // The photograph is courtesy of the U.S. Geological Survey.
  //https://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg
  //var srcImage = 'https://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg';

  var srcImage = 'home/rahulgunkar/finalYearProject/app/output/odm_orthophoto.tif';
  // The custom USGSOverlay object contains the USGS image,
  // the bounds of the image, and a reference to the map.
  overlay = new USGSOverlay(bounds, srcImage, map);

}

/** @constructor */
function USGSOverlay(bounds, image, map) {

  // Initialize all properties.
  this.bounds_ = bounds;
  this.image_ = image;
  this.map_ = map;

  // Define a property to hold the image's div. We'll
  // actually create this div upon receipt of the onAdd()
  // method so we'll leave it null for now.
  this.div_ = null;

  // Explicitly call setMap on this overlay.
  this.setMap(map);
}

/**
 * onAdd is called when the map's panes are ready and the overlay has been
 * added to the map.
 */
USGSOverlay.prototype.onAdd = function() {
	

  var div = document.createElement('div');
  div.style.borderStyle = 'none';
  div.style.borderWidth = '0px';
  div.style.position = 'absolute';
	//div.style.display = 'none';
  

  // Create the img element and attach it to the div.
  var img = document.createElement('img');
  img.src = this.image_;
  img.style.width = '100%';
  img.style.height = '100%';
  img.style.position = 'absolute';
  img.style.opacity = 1
  
  div.appendChild(img);

  this.div_ = div;

  // Add the element to the "overlayLayer" pane.
  var panes = this.getPanes();
  panes.overlayLayer.appendChild(div);
};

USGSOverlay.prototype.draw = function() {
	console.log("draw called")
  // We use the south-west and north-east
  // coordinates of the overlay to peg it to the correct position and size.
  // To do this, we need to retrieve the projection from the overlay.
  var overlayProjection = this.getProjection();

  // Retrieve the south-west and north-east coordinates of this overlay
  // in LatLngs and convert them to pixel coordinates.
  // We'll use these coordinates to resize the div.
  var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
  var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());


  // Resize the image's div to fit the indicated dimensions.
  var div = this.div_;
  div.style.left = sw.x + 'px';
  div.style.top = ne.y + 'px';
  div.style.width = (ne.x - sw.x) + 'px';
  div.style.height = (sw.y - ne.y) + 'px';
  console.log((sw.y - ne.y))
  console.log(div.style.width)
  console.log(div.style.height)
};

// The onRemove() method will be called automatically from the API if
// we ever set the overlay's map property to 'null'.
USGSOverlay.prototype.onRemove = function() {
		console.log("onRemove called")
  this.div_.parentNode.removeChild(this.div_);
  this.div_ = null;
};

google.maps.event.addDomListener(window, 'load', initMap);

	</script>
	
	
</head>
<body>

	<div id="map" style="height: 100%"></div>

	
</body>
</html>
